<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIET</title>

    <link
      rel="shortcut icon"
      href="./public/images/FitmindFitbody.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./styles/sections.css" />
  </head>
  <body>
    <header>
      <div class="logo">Fit Mind Fit Body</div>
      <nav>
        <a href="/">Home</a>
        <a href="#choosenStep">Daily Steps</a>
        <a href="#dietSteps">Choose Steps</a>
        <a href="#dietCounter">Progress</a>
      </nav>
    </header>

    <main id="fitDiet">
      <section id="choosenStep" class="card">
        <h3>Your Daily Steps to Take</h3>
        <ul>
          <li>
            <input type="checkbox" name="Snack" id="Snack" /> Eat a healthy
            snack
          </li>
          <li>
            <input type="checkbox" name="Macro" id="Macro" /> Complete your
            macros
          </li>
          <li>
            <input type="checkbox" name="ProcessedFood" id="ProcessedFood" /> Do
            not consume any processed food
          </li>
        </ul>
        <button class="btn">Done!</button>
      </section>

      <section id="dietSteps" class="card">
        <h3>Choose steps to take</h3>
        <div id="stepSections">
          <div id="came" class="section">
            <h4>Came</h4>
            <ul>
              <li>
                Drink more than 2 liters of water
                <button class="btn">Add</button>
              </li>
              <li>Eat a healthy snack <button class="btn">Add</button></li>
              <li>
                Do not consume liquid calories <button class="btn">Add</button>
              </li>
            </ul>
          </div>
          <div id="saw" class="section">
            <h4>Saw</h4>
            <ul>
              <li>
                Do not consume proccessed food <button class="btn">Add</button>
              </li>
              <li>Eat any available fruit <button class="btn">Add</button></li>
              <li>Do not skip meal <button class="btn">Add</button></li>
            </ul>
          </div>
          <div id="conquered" class="section">
            <h4>Conquered</h4>
            <ul>
              <li>Eat what you cook <button class="btn">Add</button></li>
              <li>
                Stick to the calorie counter <button class="btn">Add</button>
              </li>
              <li>Complete your macros <button class="btn">Add</button></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="dietCounter" class="card">
        <h3>Your Progress</h3>
        <div>
          <h4>Today's growth</h4>
          <p>You have 900 xp to gain today!</p>
        </div>
        <div>
          <h4>Total growth</h4>
          <p>
            You have got 9750 xp by working on your diet, pretty good progress!
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2025 Fit Mind Fit Body. All rights reserved.</p>
      <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </footer>
  </body>
</html>
